@import "bootstrap-sprockets";
@import "bootstrap";


body {  
    background: #e1e1e1;
    color: #64103F;
}

.article-detail-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.article-show-body {
    font-size: 1.5em;
    padding-left: 0em;
    margin-top: 15px;
}

.edit-delete {
    margin-top: 20px;
}

.navbar-default .navbar-brand {
    padding-top: 25px;
    font-size: 150%;
    font-weight: bold;
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #ff0000;
}

.navbar-default{
    border: #64103f;
}

.navbar-nav {
    padding-top: 10px;
    padding-right: 20px;
}

.sign-link {
    color: #64103f;
}

.sign-link a {
    color: #64103F;
}

#error_explanation {
    background-color: #f2dede;
    color: #a94442;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 30px;
}

#error_explanation h2 {
    font-size: 150;
}

footer {
    color: #64103F;
}