@import "bootstrap-sprockets";
@import "bootstrap";


body {  
    background: #e1e1e1;
    color: #64103F;
}

.article-detail-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.article-show-body {
    font-size: 1.5em;
    padding-left: 0em;
    margin-top: 15px;
}

.edit-delete {
    margin-top: 20px;
}

